params {
    config_profile_contact     = "gitlab-data-sciences-sci-workflows-nextflow-config-6076-issue-@embl.de"
    config_profile_description = "The EMBL Heidelberg HPC cluster profile"
    config_profile_name        = 'EMBL_HD'
    config_profile_url         = 'https://git.embl.de/data-sciences/sci-workflows/nextflow-config'
}

apptainer {
    enabled = true
    autoMounts = true
    pullTimeout = 3.h                      // the default is 20 minutes and fails with large images
    envWhitelist = ['CUDA_VISIBLE_DEVICES']  // allow the bounding of GPU visible device variable into the containers
}

docker {
    enabled = false
}

process {

    maxRetries = 2
    cache = 'lenient'
    afterScript = 'sleep 10'
    queue = { (task.time <= 14.d && task.memory < 256.GB && task.memory <= (4.GB * task.cpus)) ? "htc-el8" : "bigmem" }

    withLabel:gpu {
        queue = 'gpu-el8'
        containerOptions = '--nv' //enable Nvidia support
    }

    withLabel:bigmem {
        queue = 'bigmem'
    }

    withLabel:low_qos {
        clusterOptions = '--qos=low'
    }

    // Default resources
    memory = 4.GB
    cpus = 2
    time = 1.h
    
    // Error strategy
    errorStrategy = 'retry'
    maxRetries = 0
    
    // Process-specific configurations
    withName: GATHER_KMERS_JF {
        // Increase memory and time on retry
        memory = { 30.GB * task.attempt }
        cpus = 16
        time = { 12.h * task.attempt }
        errorStrategy = 'retry'
    }

    withName: GATHER_KMERS_DBG {
        // Increase memory and time on retry
        memory = { 8.GB * task.attempt }
        cpus = 2
        time = { 24.h * task.attempt }
        errorStrategy = 'retry'
    }

    withName: DBG_LIGHTER {
        memory = { 256.GB * task.attempt }
        cpus = 16
        time = { 24.h * task.attempt }
        errorStrategy = 'terminate'
        maxRetries = 0
    }

    withName: DBG_BCALM {
        memory = { 256.GB * task.attempt }
        cpus = 16
        time = { 24.h * task.attempt }
        errorStrategy = 'terminate'
        maxRetries = 0
    }    

    withName: FORMAT_AND_MERGE_KMERS {
        // Increase memory and time on retry
        memory = { 50.GB * task.attempt }
        cpus = 4
        time = { 12.h * task.attempt }
        errorStrategy = 'retry'
    }

    withName: FORMAT_AND_MERGE_KMERS {
        // Increase memory and time on retry
        memory = { 50.GB * task.attempt }
        cpus = 4
        time = { 12.h * task.attempt }
        errorStrategy = 'retry'
    }

}

executor {
    name = "slurm"
    queueSize = 50
    submitRateLimit = "10/1sec"
    pollInterval = 10.s
    exitReadTimeout = 5.m
    retry.reason = "~/.+/"
    jobName = { "${task.process.replaceAll('[^a-zA-Z0-9_-]', '_')}_${task.index}" }
}

// Cleanup work directory on successful completion
cleanup = false